.checks_table {
    position: relative;
    float:left;
    width: 50%;
}

.error {
    color: #ff7777;
}

.success {
    color: #77ff77;
}

.graph {
    position: relative;
    height: 400px;
    width: 95%;
    margin: auto;
}