table {
    border: 1px solid #aaa;
    border-spacing: 0;
}

tr:first-child td {
    font-weight: bold;
    background-color: #ddd;
}
td {
    border-bottom: 1px solid #aaa;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #efefef;
}
td:nth-child(1) {
    min-width: 400px;
}

td:nth-child(2), td:nth-child(3) {
    width: 150px;
}

td:nth-child(6) {
    width: 150px;
    text-align: right;
}

td:last-child {
    width: 50px;
    text-align: right;
}

.error {
    background-color: #ffcccc;
}

.success {
    background-color: #ccffcc;
}