{{ define "css" }}
<link rel="stylesheet" type="text/css" href="/resources/css/details.css">
{{ end }}

{{ define "check" }}
<tr>
  <td>{{ .CheckedAt.Format "2006-01-02 15:04:05" }} UTC</td>
  <td>{{ .CheckType }}</td>
  <td class={{ .Status }}>
    {{ .Status }}

    {{ if .StatusCode }}
    {{ if gt .StatusCode 399 }}
    <span
      class="badge badge-pill badge-danger"
      data-toggle="tooltip"
      title="{{ .CheckErrorMessage }}"
    >{{ .StatusCode }}</span>
    {{ else }}
    <span class="badge badge-pill badge-success">{{ .StatusCode }}</span>
    {{ end }}
    {{ end }}
  </td>
  <td>{{ .ResponseTime.String }}</td>
</tr>
{{ end }}

{{ define "chart" }}
<div class="row-fluid">
  <div class="graph"><canvas id="{{ . }}"></canvas></div>
</div>
{{ end }}

{{ define "content" }}
{{ template "chart" "responseTimesHttp" }}
{{ template "chart" "responseTimesIcmp" }}
{{ template "chart" "responseTimesTcp" }}
{{ template "chart" "responseTimesUdp" }}

<script src="/resources/js/moment.js"></script>
<script src="/resources/js/chart.js"></script>
<script>
  var dataPublicHttp = [
    {{- range .Host.Checks.Public.HTTP }}
      {
        t: moment.unix({{- .CheckedAt.Unix }}),
        {{ if eq .Status "success" }}
        y:{{- .ResponseTime.Milliseconds }}
        {{ else }}
        y: 0
        {{ end }}
      },
    {{- end }}
  ];

  var dataPublicTcp = [
    {{- range .Host.Checks.Public.TCP }}
      {
        t: moment.unix({{- .CheckedAt.Unix }}),
        {{ if eq .Status "success" }}
        y:{{- .ResponseTime.Milliseconds }}
        {{ else }}
        y: 0
        {{ end }}
      },
    {{- end }}
  ];

  var dataPublicUdp = [
    {{- range .Host.Checks.Public.UDP }}
      {
        t: moment.unix({{- .CheckedAt.Unix }}),
        {{ if eq .Status "success" }}
        y:{{- .ResponseTime.Milliseconds }}
        {{ else }}
        y: 0
        {{ end }}
      },
    {{- end }}
  ];

  var dataPublicIcmp = [
    {{- range .Host.Checks.Public.ICMP }}
      {
        t: moment.unix({{- .CheckedAt.Unix }}),
        {{ if eq .Status "success" }}
        y:{{- .ResponseTime.Milliseconds }}
        {{ else }}
        y: 0
        {{ end }}
      },
    {{- end }}
  ];

  var dataInternalHttp = [
    {{- range .Host.Checks.Internal.HTTP }}
      {
        t: moment.unix({{- .CheckedAt.Unix }}),
        {{ if eq .Status "success" }}
        y:{{- .ResponseTime.Milliseconds }}
        {{ else }}
        y: 0
        {{ end }}
      },
    {{- end }}
  ];

  var dataInternalTcp = [
    {{- range .Host.Checks.Internal.TCP }}
      {
        t: moment.unix({{- .CheckedAt.Unix }}),
        {{ if eq .Status "success" }}
        y:{{- .ResponseTime.Milliseconds }}
        {{ else }}
        y: 0
        {{ end }}
      },
    {{- end }}
  ];

  var dataInternalUdp = [
    {{- range .Host.Checks.Internal.UDP }}
      {
        t: moment.unix({{- .CheckedAt.Unix }}),
        {{ if eq .Status "success" }}
        y:{{- .ResponseTime.Milliseconds }}
        {{ else }}
        y: 0
        {{ end }}
      },
    {{- end }}
  ];

  var dataInternalIcmp = [
    {{- range .Host.Checks.Internal.ICMP }}
      {
        t: moment.unix({{- .CheckedAt.Unix }}),
        {{ if eq .Status "success" }}
        y:{{- .ResponseTime.Milliseconds }}
        {{ else }}
        y: 0
        {{ end }}
      },
    {{- end }}
  ];

  var ctx = document.getElementById('responseTimesHttp');
  var chart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [
          {
            label: "Public",
            data: dataPublicHttp,
            borderColor: "#3e95cd",
            borderWidth: 2,
            backgroundColor: "rgba(132,99,255,0.05)",
            piontRadius: 1,
            lineTension: 0.2
          },
          {
            label: "Internal",
            data: dataInternalHttp,
            borderColor: "#cc3e95",
            borderWidth: 2,
            backgroundColor: "rgba(255,99,132,0.05)",
            piontRadius: 1,
            lineTension: 0.2
          }
        ]
      },
      options: {
        title: {
          display: true,
          fontSize: 24,
          fontColor: "#fff",
          text: "HTTP Health Checks"
        },
        responsive: true,
        maintainAspectRatio: false,
        hoverMode: 'index',
        legend: {
            display: true
        },
        scales: {
          xAxes: [{
            type: 'time',
            time: {
              unit: 'minute'
            }
          }],
          yAxes: [{
            display: true,
            ticks: {
                suggestedMin: 0,
                beginAtZero: true
            }
        }]
        }
    }
  });

  var ctx = document.getElementById('responseTimesIcmp');
  var chart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [
          {
            label: "Public",
            data: dataPublicIcmp,
            borderColor: "#3e95cd",
            borderWidth: 2,
            backgroundColor: "rgba(132,99,255,0.05)",
            piontRadius: 1,
            lineTension: 0.2
          },
          {
            label: "Internal",
            data: dataInternalIcmp,
            borderColor: "#cc3e95",
            borderWidth: 2,
            backgroundColor: "rgba(255,99,132,0.05)",
            piontRadius: 1,
            lineTension: 0.2
          }
        ]
      },
      options: {
        title: {
          display: true,
          fontSize: 24,
          fontColor: "#fff",
          text: "ICMP Checks"
        },
        responsive: true,
        maintainAspectRatio: false,
        hoverMode: 'index',
        legend: {
            display: true
        },
        scales: {
          xAxes: [{
            type: 'time',
            time: {
              unit: 'minute'
            }
          }],
          yAxes: [{
            display: true,
            ticks: {
                suggestedMin: 0,
                beginAtZero: true
            }
        }]
        }
    }
  });

  var ctx = document.getElementById('responseTimesTcp');
  var chart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [
          {
            label: "Public",
            data: dataPublicTcp,
            borderColor: "#3e95cd",
            borderWidth: 2,
            backgroundColor: "rgba(132,99,255,0.05)",
            piontRadius: 1,
            lineTension: 0.2
          },
          {
            label: "Internal",
            data: dataInternalTcp,
            borderColor: "#cc3e95",
            borderWidth: 2,
            backgroundColor: "rgba(255,99,132,0.05)",
            piontRadius: 1,
            lineTension: 0.2
          }
        ]
      },
      options: {
        title: {
          display: true,
          fontSize: 24,
          fontColor: "#fff",
          text: "TCP Checks"
        },
        responsive: true,
        maintainAspectRatio: false,
        hoverMode: 'index',
        legend: {
            display: true
        },
        scales: {
          xAxes: [{
            type: 'time',
            time: {
              unit: 'minute'
            }
          }],
          yAxes: [{
            display: true,
            ticks: {
                suggestedMin: 0,
                beginAtZero: true
            }
        }]
        }
    }
  });

  var ctx = document.getElementById('responseTimesUdp');
  var chart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [
          {
            label: "Public",
            data: dataPublicUdp,
            borderColor: "#3e95cd",
            borderWidth: 2,
            backgroundColor: "rgba(132,99,255,0.05)",
            piontRadius: 1,
            lineTension: 0.2
          },
          {
            label: "Internal",
            data: dataInternalUdp,
            borderColor: "#cc3e95",
            borderWidth: 2,
            backgroundColor: "rgba(255,99,132,0.05)",
            piontRadius: 1,
            lineTension: 0.2
          }
        ]
      },
      options: {
        title: {
          display: true,
          fontSize: 24,
          fontColor: "#fff",
          text: "UDP Checks"
        },
        responsive: true,
        maintainAspectRatio: false,
        hoverMode: 'index',
        legend: {
            display: true
        },
        scales: {
          xAxes: [{
            type: 'time',
            time: {
              unit: 'minute'
            }
          }],
          yAxes: [{
            display: true,
            ticks: {
                suggestedMin: 0,
                beginAtZero: true
            }
        }]
        }
    }
  });
</script>
{{ end }}