<!DOCTYPE html>
<html>
  <head>
    <title>Service Tester</title>

    <link rel="stylesheet" type="text/css" href="/resources/css/index.css">
  </head>
  <body>
    <table>
      <tr>
        <td>Host</td>
        <td>Public IP</td>
        <td>Internal IP</td>
        <td>Internal Result</td>
        <td>Public Result</td>
        <td>Response Time</td>
        <td>&nbsp;</td>
    	</tr>
      {{ range . }}
        <tr>
          <td><a href="http://{{ .PublicIP }}">{{ .Name }}</a></td>
          <td>{{ .PublicIP }}</td>
          <td>{{ .InternalIP }}</td>
          <td class={{ .Latest.InternalStatus }}>{{ .Latest.InternalStatus }}</td>
          <td class={{ .Latest.PublicStatus }}>{{ .Latest.PublicStatus }}</td>
          <td>{{ .Latest.ResponseTime }}</td>
          <td><a href="/details?id={{ .ID }}">view</a></td>
        </tr>
      {{ end }}
    </table>
  </body>
</html>