{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Service Tester</title>

    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/layout.css">
    {{ template "css" }}
  </head>
  <body>
    <div class="main-container">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Service Tester</a>
            <a class="navbar-nav nav-item nav-link" href="/">Home</a>
        </nav>

        <div class="container content-container host-info">
          <div class="row">
            <div class="col-4 text-center">
              <b>Hostname</b><br/>{{ .CurrentHost.Hostname }}<br/><br/>
            </div>
            <div class="col-4 text-center">
              <b>Service Restarts</b><br/>{{ .CurrentHost.ServiceRestarts }}<br/><br/>
            </div>
            <div class="col-4 text-center">
              <b>First Start</b><br/>{{ .CurrentHost.ServiceFirstStart.Format "2006-01-02 15:04:05" }} UTC<br/><br/>
            </div>
            <div class="col-4 text-center">
              <b>Host Uptime</b><br/>{{ .CurrentHost.HostUptime.String }}<br/><br/>
            </div>
            <div class="col-4 text-center">
              <b>Service Uptime</b><br/>{{ .CurrentHost.ServiceUptime.String }}<br/><br/>
            </div>
            <div class="col-4 text-center">
              <b>Last Start</b><br/>{{ .CurrentHost.ServiceLastStart.Format "2006-01-02 15:04:05" }} UTC<br/><br/>
            </div>
          </div>
        </div>

        <div class="content-container">{{ template "content" . }}</div>
    </div>
  </body>
</html>
{{ end }}
