{{ define "css" }}
<link rel="stylesheet" type="text/css" href="/resources/css/overview.css">
{{ end }}

{{ define "status" }}
  {{ if eq .Status "success" }}
    <button type="button" class="btn btn-success btn-sm status-btn" disabled>{{ .Name }}</button>
  {{ else }}
    <button type="button" class="btn btn-danger btn-sm status-btn" disabled>{{ .Name }}</button>
  {{ end }}
{{ end }}

{{ define "content" }}
<div class="text-center"><h4>Current Host</h4></div>
<div class="text-center">
  <a class="text-white-50" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="font-size: 12px;">
    Service Logs
  </a>
</div>
<div class="collapse" id="collapseExample">
  <pre class="text-white-50 w-auto p-2 bg-secondary text-monospace" style="font-size: 12px; height:200px;">
    {{ range .Logs }}
    {{ .String -}}
    {{ end }}
  </pre>
</div>
<br/>

<div class="container text-white-50">
  <div class="row">
    <div class="col-sm-4 text-center">
      <b>Hostname</b><br/>{{ .CurrentHost.Hostname }}<br/><br/>
    </div>
    <div class="col-sm-4 text-center">
      <b>Service Restarts</b><br/>{{ .CurrentHost.ServiceRestarts }}<br/><br/>
    </div>
    <div class="col-sm-4 text-center">
      <b>First Start</b><br/>{{ .CurrentHost.ServiceFirstStart.Format "2006-01-02 15:04:05" }} UTC<br/><br/>
    </div>
    <div class="col-sm-4 text-center">
      <b>Host Uptime</b><br/>{{ .CurrentHost.HostUptime.String }}<br/><br/>
    </div>
    <div class="col-sm-4 text-center">
      <b>Service Uptime</b><br/>{{ .CurrentHost.ServiceUptime.String }}<br/><br/>
    </div>
    <div class="col-sm-4 text-center">
      <b>Last Start</b><br/>{{ .CurrentHost.ServiceLastStart.Format "2006-01-02 15:04:05" }} UTC<br/><br/>
    </div>
  </div>
</div>
<br/>

<div class="text-center"><h4>Discovered Hosts</h4></div>
<table class="table table-dark table-borderless discovered-hosts-table">
  <thead>
    <tr>
      <th scope="col">Host</th>
      <th scope="col">Public</th>
      <th scope="col">Internal</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {{ range .Hosts }}
    <tr>
      <td><a class="text-white" href="http://{{ .PublicIP }}/dashboard">{{ .Hostname }}</a></td>
      <td>
        <div class="row">
          <div class="col-lg-4">{{ .PublicIP }}</div>
          <div class="col-lg-8">
            <div class="btn-group" role="group">
              {{ template "status" dict "Name" "HTTP" "Status" .LatestStatuses.Public.HTTP }}
              {{ template "status" dict "Name" "ICMP" "Status" .LatestStatuses.Public.ICMP }}
              {{ template "status" dict "Name" "TCP" "Status" .LatestStatuses.Public.TCP }}
              {{ template "status" dict "Name" "UDP" "Status" .LatestStatuses.Public.UDP }}
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="row">
          <div class="col-lg-4">{{ .InternalIP }}</div>
          <div class="col-lg-8">
            <div class="btn-group" role="group">
              {{ template "status" dict "Name" "HTTP" "Status" .LatestStatuses.Internal.HTTP }}
              {{ template "status" dict "Name" "ICMP" "Status" .LatestStatuses.Internal.ICMP }}
              {{ template "status" dict "Name" "TCP" "Status" .LatestStatuses.Internal.TCP }}
              {{ template "status" dict "Name" "UDP" "Status" .LatestStatuses.Internal.UDP }}
            </div>
          </div>
        </div>
      </td>
      <td><a href="/dashboard/hosts/{{ .ID }}">details</a></td>
    </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}