{{ define "css" }}
<link rel="stylesheet" type="text/css" href="/resources/css/overview.css">
{{ end }}

{{ define "content" }}
<h4>Hosts</h4>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Host</th>
      <th scope="col">Public IP</th>
      <th scope="col">Internal IP</th>
      <th scope="col">First Seen</th>
      <th scope="col">Last Seen</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
  {{ range .Hosts }}
    <tr>
      <td><a href="http://{{ .PublicIP }}:{{ .Port }}">{{ .Hostname }}</a></td>
      <td class="{{ .LatestChecks.Public.Status }}">{{ .PublicIP }}</td class="{{ .LatestChecks.Public.Status }}">
      <td class="{{ .LatestChecks.Internal.Status }}">{{ .InternalIP }}</td>
      <td>{{ .FirstSeenAt.Format "2006-01-02 15:04:05" }} UTC</td>
      <td>{{ .LastSeenAt.Format "2006-01-02 15:04:05"}} UTC</td>
      <td><a href="/dashboard/host/{{ .ID }}/details">view</a></td>
    </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}